body {
    background-image: url('/static/GuideScanner-background-v4_upscaled.png');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background */
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0; /* Lighter font color */
    font-size: 1.25rem; /* Base font size */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Darker overlay with 70% opacity */
    z-index: -1; /* Ensure the overlay is behind the content */
}

.overlay-container {
    position: relative;
    padding: 0.625rem; /* Adjust padding for mobile if needed */
    width: 50%;
    height: 100%;
}

.overlay-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 15px rgba(216, 73, 7, 0.4); /* Soft edges */
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay with 70% opacity */
    z-index: -1; /* Ensure the overlay is behind the content */
    pointer-events: none; /* Allow interaction with the content */
}

.paragraph-style {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the paragraph */
    margin-top: 0px;
    margin-left: 0;
    line-height: 1.05; /* Adjust line height for readability */
    font-family: 'Roboto', sans-serif;
    padding: 0.75rem; /* Add padding for better spacing */
    word-wrap: break-word; /* Ensure long words are wrapped */
    text-align: left;
    line-height: 1.5;
    padding: 1rem;
}
/* Mobile styles */
@media (max-width: 768px) {
    .overlay-container {
        width: 100%;
    }

    .paragraph-style {
        width: 100%;
    }
}

#searchForm {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}
#searchQuery {
    width: 80%;
    height: 1.5em;
    vertical-align: top; /* Align text to the top */
    text-align: left; /* Align text to the left */
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}
#searchButton {
    display: block;
    width: 110px;
    padding: 0.75rem;
    font-size: 1.25rem;
    margin-top: 0.75rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
#searchingText {
    display: none;
    width: 130px;
    padding: 5px;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    background-color: lightgray;
    color: black;
    border: darkgray;
    border-radius: 0.5rem;
    cursor: not-allowed;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
#resultsList {
    width: 100%; /* Default width for mobile devices */
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
#title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #b44511;
}
#subheader3{
    font-family: 'Roboto', sans-serif;
}
#subheader4{
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}
@media (min-width: 1024px) {
    #resultsList {
        width: 80%; /* Adjust width for desktops */
    }
}
/* Adjust width for larger screens */
@media (min-width: 600px) {
    #searchQuery {
        width: 30%; /* Adjust as needed for tablets */
        resize: horizontal;
    }
}
@media (min-width: 1024px) {
    #searchQuery {
        width: 75%; /* Adjust as needed for desktops */
        resize: horizontal;
    }
}
#game {
    width: 20%;
    min-width: 200px; /* Minimum width for mobile */
    margin-top: 1.0rem;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 1024px) {
    #game {
        width: 50%;
        min-width: 400px; /* Minimum width for desktop */
    }
}